<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-5">
        <div class="row g-2">
            <% blogs.forEach(blog => { %>
                <div class="col col-12 col-sm-6 col-md-3">
                    <div class="card">
                        <% if(blog.coverImage) { %>
                            <img src="<%= blog.coverImage %>" class="card-img-top image" alt="..." id="<%= blog.coverImage %>" onerror="err('<%= blog.coverImage %>')" /> 
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/view/<%= blog._id %>" class="btn btn-primary">view</a>
                        </div>
                    </div>
                </div>
            <% }) %>      
        </div>
    </div>
    <%- include('./partials/script.ejs') %>
    <script>
        function err(id){
            const ele = document.getElementById(id);
            ele.style.display = "none";
        }
    </script>
</body>
</html>
