<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-5">
        <div class="row g-2">
            <% blogs.forEach(blog => { %>
                <div class="col col-6 col-sm-3">
                    <div class="card">
                        <img src="<%= blog.coverImage %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/view/<%= blog._id %>" class="btn btn-primary">view</a>
                        </div>
                    </div>
                </div>
            <% }) %>      
        </div>
    </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>
