<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-5">
        <% if(locals.blogs.length > 0) { %>
            <div class="row g-2">
                <% blogs.forEach(blog => { %>
                    <div class="col col-6 col-sm-3">
                        <div class="card">
                            <img src="<%= blog.coverImage %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><%= blog.title %></h5>
                                <a href="/view/<%= blog._id %>" class="btn btn-primary">view</a>
                            </div>
                        </div>
                    </div>
                <% }) %>  
            </div>
        <% } else { %>
            <p class="text-center">You don't have any blog <a href="/addBlog">create one</a> </p>
        <% } %>
    </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>
